<% c++ #include "contents/Users.h" %>
<% skin %>
<% view common_users_change_password uses contents::users::ChangePassword extends master %>
<% template title() %><% gt "Change password" %><% end template %>


<% template main_content() %> 
    <form method="POST" action="/users/change-password_treat" >
        <% form as_p changePasswordForm %>
    </form>
<% end template %>

<% template annexe_content() %>

<% end template %>



<% end view %>
<% end skin %>

