<% c++ #include "contents/Users.h" %>
<% skin %>
<% view common_users_login uses contents::users::Login extends master %>
<% template title() %><% gt "Login" %><% end template %>

<% template local_css() %>
    <% include css_link("commons/css/users/login.css") %>
<% end template %>


<% template main_content() %> 
    <% include begin_module() %>
    <h2><% gt "Login" %></h2>
    <form
        method="POST"
        action="/users/login_treat"
        id="UserLoginForm"
    >
        <% form input loginForm.previousUrl %>
        <table class='input'>
            <% include widget_row(loginForm.username) %>
            <% include widget_row(loginForm.password) %>
            <% include widget_row(loginForm.rememberMe) %>
        </table>

        <div class="submit">
            <% form input loginForm.submit %>
        </div>

    </form>

    <h2><% gt "No account yet?" %></h2> 
    <div id="ClickHereToRegister">
        <a href="/users/register-new" class="registerButton"><% gt "Register" %></a>
    </div>
    <% include end_module() %>
<% end template %>

/**
 *
 */
<% template annexe_content() %>
    <% include begin_module() %>
    <h2><% gt "Note:" %></h2>
    <p>
        <% gt "For the moment there's no automatic 'password forgotten' mechanism, instead send an email to the administrators" %>
    </p>
    <% include end_module() %>
<% end template %>





<% end view %>
<% end skin %>

