<% c++ #include "contents/History.h" %>
<% skin %>
<% view history_all_versions_of uses contents::history::AllVersionsOf extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template main_content() %> 
    <div class="module"> 
        <% foreach change in changes %>
        <ul>
            <% item %>
            <li>    
                <%gt "changed at <span class='time'>{1,dt=s}</span> by {2}" using change.editTime, change.byUserName %>
                <!-- TODO use < url %> instead -->
                <a href="/history/show-version/<%= slug %>/<%= change.version %>">
                    <% gt "Show" %>
                </a>
            </li>
            <% end %>
        </ul>
        <% end foreach %>
    </div>
<% end template %>


<% template annexe_content() %>
<div class="module">
    <h2><%gt "Actions" %></h2>
    
    <ul class="annexeMenu">
        <li>
            <a href="/articles/show/<%= slug | urlencode %>">
                <%gt "Go back to article's page" %>
            </a>
        </li>
    </ul>
</div>
<% end template %>



<% end view %>
<% end skin %>
