<% c++ #include "contents/History.h" %>
<% skin %>
<% view history_all_versions_of uses contents::history::AllVersionsOf extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me History / AllVersionsOf
<% end template %>



<% end view %>
<% end skin %>
