<% c++ #include "contents/History.h" %>
<% skin %>
<% view history_show_version uses contents::history::ShowVersion extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me History / ShowVersion
<% end template %>



<% end view %>
<% end skin %>
