<% c++ #include "contents/Users.h" %>
<% skin %>
<% view users_change_password uses contents::users::ChangePassword extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Users / ChangePassword
    <form method="POST" action="<% url "/users/change-password_treat" %>" >
        <% form as_p changePasswordForm %>
    </form>
<% end template %>



<% end view %>
<% end skin %>

