<% c++ #include "contents/Users.h" %>
<% skin %>
<% view users_login uses contents::users::Login extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template main_content() %> 
<div class="module">
    <h1><% gt "Login" %></h1>
    <form method="POST" action="/users/login_treat" >
        <% form as_p loginForm %>
    </form>
</div>
<% end template %>



<% end view %>
<% end skin %>

