<% c++ #include "contents/Users.h" %>
<% skin %>
<% view users_logout uses contents::users::Logout extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Users / Logout
<% end template %>



<% end view %>
<% end skin %>
