<% c++ #include "contents/Users.h" %>
<% skin %>
<% view users_register_new uses contents::users::RegisterNew extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template main_content() %> 
    <div class="module">
        <h1><% gt "Register a new user" %></h1>
        <form method="POST" action="/users/register-new_treat" >
            <% form as_p registerNewForm %>
        </form>
    </div>
<% end template %>



<% end view %>
<% end skin %>

