<% c++ #include "contents/History.h" %>
<% skin %>
<% view history_revert_to_version uses contents::history::RevertToVersion extends common_history_revert_to_version %>

<% end view %>
<% end skin %>
