<% c++ #include "contents/History.h" %>
<% skin %>
<% view history_show_diff_between uses contents::history::ShowDiffBetween extends common_history_show_diff_between %>

<% end view %>
<% end skin %>
