<% c++ #include "contents/Search.h" %>
<% skin %>
<% view search_simple uses contents::search::Simple extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %>
    Edit Me Search / Simple
<% end template %>



<% end view %>
<% end skin %>
