<% c++ #include "contents/Admin.h" %>
<% skin %>
<% view common_admin_change_user_password uses contents::admin::ChangeUserPassword extends master %>
<% template title() %><% gt "Change user password" %><% end template %>

<% template main_content() %>
    <form method="POST" action="/admin/change-user-password_treat" >
        <% form as_p changeUserPasswordForm %>
    </form>
<% end template %>

<% template annexe_content() %>

<% end template %>



<% end view %>
<% end skin %>
