<% c++ #include "contents/Admin.h" %>
<% skin %>
<% view common_admin_change_brand uses contents::admin::ChangeBrand extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %>
    Edit Me Admin / ChangeBrand
<% end template %>



<% end view %>
<% end skin %>
