<% c++ #include "contents/Admin.h" %>
<% skin %>
<% view admin_change_user_password uses contents::admin::ChangeUserPassword extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %>
    Edit Me Admin / ChangeUserPassword
<% end template %>



<% end view %>
<% end skin %>
