<% c++ #include "contents/Admin.h" %>
<% skin %>
<% view admin_change_user_password uses contents::admin::ChangeUserPassword extends common_admin_change_user_password %>

<% end view %>
<% end skin %>
