<% c++ #include "contents/ajax/Media.h" %>
<% skin ajax %>
<% view media_upload_image uses contents::ajax::media::UploadImage extends master %>

<% template data() %>"<%= url %>"<%end template %>

<% end view %>
<% end skin %>
