<% c++ #include <cppcms_skel/generics/Languages.h> %>
<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_show uses contents::articles::Show extends common_articles_show %>

<% end view %>
<% end skin %>
