<% c++ #ifndef COMMONS_SKIN_LAYOUT_MASTER %>
<% c++ #define COMMONS_SKIN_LAYOUT_MASTER %>
<% c++ #include <cppcms_skel/generics/Config.h> %>
<% c++ #include "cppcms_skel/contents/content.h" %>
<% c++ #include "generics/Config.h" %>
<% c++ #include "results/Articles.h" %>
<% skin %>
<% view common_master uses contents::BaseContent %>

<% template render() %><!DOCTYPE html>
<html lang="<%= lang %>">
    <head><%include head() %></head>
    <body><%include body() %></body>
</html>
<% end template %>


/**
 *
 */
<% template css() %>
    <% include global_css() %>
    <% include group_css() %>
    <% include local_css() %>
<% end template %>

/**
 *
 */
<% template head_js() %>
    <% include head_global_js() %>
    <% include head_group_js() %>
    <% include head_local_js() %>
<% end template %>

/**
 *
 */
<% template body() %><% end template %>

/**
 *
 */
<% template head() %><% end template %>

/**
 *
 */
<% template title() %>TODO: replace this<% end template %>


<% template asset_url(std::string const& type, std::string const& file) %><% c++ out() << Config::get_assets_url(); %><%= type %>/<%= file %><% end template %>
/**
 * @brief Used to generate a script tag for a javascript file
 *
 * @since 20 March 2013
 */

<% template js_link(std::string const& jsFile) %><script
    src="<% include asset_url("js",jsFile) %>"
    type="text/javascript"
></script><% end template %>


<% template css_link(std::string const& cssFile) %><link 
    href="<% include asset_url("css",cssFile) %>"
    rel="stylesheet"
    type="text/css"
/><% end template %>

<% template img_tag(std::string const& imgFile, int width, int height, std::string const& alt) %><img
    src="<% include asset_url("img",imgFile) %>"
    width="<%= width %>"
    height="<%= height %>"
    alt="<%= alt %>"
/><%end template %>

/**
 * @brief Used to a link to an article using an Article object
 *
 * @since 4 July 2013
 */
<% template article_link(results::Article const& article) %>
<a href="<% include article_url(article.lang, article.slug) %>"><%= article.title %></a>
<% end template %>

/**
 *
 */
<% template article_url( std::string const& lang, std::string const& slug) %><% c++ out() << tatowiki::Config::articles_url_from_lang_and_slug(lang,slug); %><% end template %>

/**
 * @brief Return the raw url to view the diff between two versions of
 *        an article
 *        Note : this template is on one line to avoid unwanted space/new line
 *
 * @since 20 March 2013
 */
<% template diff_url( int articleId, int oldVersion, int newVersion) %>/history/show-diff-between/<%= articleId %>/<%= oldVersion %>/<%= newVersion %><% end template %>

<% template description() %>TODO<%end template%>

<% template author() %>TODO <% end template %>


/**
 *
 * @brief Display a form's widget as an HTML table's row
 *
 * @since 22 April 2013
 */
<% template widget_row(cppcms::widgets::base_widget & widget) %>
<% include widget_row_text(widget,"") %>
<% end template %>


<% template widget_row_text(cppcms::widgets::base_widget & widget, std::string const& preinputText ) %>
<tr>
    <td class="labels" >
        <label for="<%= widget.name() %>">
            <%= widget.message() %>
        </label>
    </td>
    <td>
        <%= preinputText | raw %>
        <% form input widget %>
    </td>
</tr>
<% end template %>

/**
 *
 */
<% template global_css() %><% end template %>

/**
 *
 */
<% template group_css() %><% end template %>

/**
 *
 */
<% template local_css() %><% end template %>

/**
 *
 */
<% template head_local_js() %><% end template %>

/**
 *
 */
<% template head_group_js() %><% end template %>

/**
 *
 */
<% template head_global_js() %><% end template %>
/** 
 * @brief used to abstract how modules are organized
 * 
 * @since 7 April 2013
 */
<% template begin_module() %><div><% end template %>
<% template end_module() %></div><% end template %>



/**
 *
 */
<% template markdown_help() %>
    <% include begin_module() %>
    <h2><% gt "Note" %></h2>
    
    <p>
        <%gt "This wiki uses the markdown syntax." %>
    </p>
    <% include end_module() %>
    <% include begin_module() %>
    <h2><% gt "How to format text" %></h2>
    <ul>
        <li>
            <% gt "#Big title" %>
        </li>
        <li>
            <% gt "##Smaller title" %>
        </li>

        <li>
            <% gt "[text](http://example.com)" %>
        </li>

        <li>
            <% gt "[text](other-article)" %>
        </li>

        <li>
            <% gt "**bold**" %>
        </li>

        <li>
            <% gt "*italic*" %>
        </li>

    </ul>
    <% include end_module() %>
<% end template %>

<% template annexe_content() %>
    <% include begin_module() %>
        TODO: replace this by actual content
    <% include end_module () %>
<% end template %>


<% template main_content() %>
    <% include begin_module() %>
        TODO replace this by actual content
    <% include end_module() %>
<% end template %>

/**
 * @brief used to display the search form in
 *        the navigation bar
 *
 * @since 4 July 2013
 */
<% template search() %>
<form
    class="navbar-search pull-right"
    method="GET"
    action="/search/result"
>
    <input
        class="search-query span2"
        name="query"
        placeholder="<% gt "Search" %>"
        type="text"
    />
</form>
<% end template %>




<% end view %>
<% end skin %>
<% c++ #endif %>
