<% c++ #include "contents/Users.h" %>
<% skin %>
<% view users_register_new uses contents::users::RegisterNew extends common_users_register_new %>

<% template local_css() %>
    <% include css_link("skins/tatoeba/css/users/register-new.css") %>
<% end template %>

<% end view %>
<% end skin %>

