.registerButton {
    background: url(/img/register_btn.png) repeat;
    padding: 8px 12px;
    color: #1A3502;
    border: 1px solid #6E994E;
    font-size: 1.2em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
    text-align: center;
    width: 150px;
}

.registerButton:hover {
    color: #D5E5C9;
}

/*
 * Login form
 */
#UserLoginForm {
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background: #F1F1F1;
    border: 1px solid #A1A1A1;
    text-align: center;
}


#UserLoginForm .input {
    font-size: 16px;
    margin: auto;
}

#UserLoginForm .input input {
    width: 200px;
    margin-bottom: 10px;
}

#UserLoginForm .submit {
    margin: auto;
}

#UserLoginForm .submit input {
    font-size: 16px;
}

#PasswordForgotten {
    margin: auto;
    width: 270px;
    text-align: center;
    padding-top: 20px;
}
