<% c++ #ifndef SKIN_RESPONSIVE_LAYOUT_ARTICLE_EDITION %>
<% c++ #define SKIN_RESPONSIVE_LAYOUT_ARTICLE_EDITION %>
<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view article_edition uses contents::BaseContent extends common_article_edition %>

<% end view %>
<% end skin %>
<% c++ #endif %>
