<% c++ #ifndef SKIN_RESPONSIVE_LAYOUT_ARTICLE_EDITION %>
<% c++ #define SKIN_RESPONSIVE_LAYOUT_ARTICLE_EDITION %>
<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view article_edition uses tatowiki::contents::BaseContent extends common_article_edition %>

<% template skin_group_css() %>
    <% include css_link("skins/responsive/css/articles/create.css") %>
<% end template %>

<% end view %>
<% end skin %>
<% c++ #endif %>
