<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_delete uses contents::articles::Delete extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Articles / Delete
<% end template %>



<% end view %>
<% end skin %>
