<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_edit uses contents::articles::Edit extends article_edition %>
<% template title() %><% gt "Edit article" %><% end template %>


<% template css() %>
    <% include css_link("articles/create.css") %>
<% end template %>



<% template main_content() %> 
<div class="module" >
    <h2><% gt "Edit article" %></h2>
    <form method="POST" action="/articles/edit_treat" >
    <table>
        <% form as_table editForm %>
    </table>
    </form>
</div>
<% end template %>

/**
 *
 */
<% template annexe_content() %>
   <% include markdown_help() %> 
<% end template %>


<% end view %>
<% end skin %>

