<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_edit uses contents::articles::Edit extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template main_content() %> 
<div class="module" >
    <form method="POST" action="/articles/edit_treat" >
        <% form as_p editForm %>
    </form>
</div>
<% end template %>

<% template annexe_content() %>
<div class="module" >
    <h2><% gt "Note" %></h2>
    
    <p>
        <%gt "This wiki uses the markdown syntax." %>
    </p>
</div>
<% end template %>


<% end view %>
<% end skin %>

