<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_remove uses contents::articles::Remove extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Articles / Remove 
<% end template %>



<% end view %>
<% end skin %>
