<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_show_conflict uses contents::articles::ShowConflict extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Articles / ShowConflict
<% end template %>



<% end view %>
<% end skin %>
