<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_show_all uses contents::articles::ShowAll extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Articles / ShowAll
<% end template %>



<% end view %>
<% end skin %>
