<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_show uses contents::articles::Show extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Articles / Show
<% end template %>



<% end view %>
<% end skin %>
