<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_translate uses contents::articles::Translate extends master %>
<% template title() %><% gt "Translate article" %><% end template %>

<% template css() %>
    <% include css_link("articles/create.css") %>
<% end template %>



<% template main_content() %> 
<div class="module">
    <h2><% gt "Translate article" %></h2>
    <form method="POST" action="/articles/translate_treat" >
    <table>
        <% form as_table translateForm %>
    </table>
    </form>
</div>
<% end template %>

/**
 *
 */
<% template annexe_content() %>
   <% include markdown_help() %> 
<% end template %>




<% end view %>
<% end skin %>

