<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_translate uses contents::articles::Translate extends master %>
<% template title() %><% gt "Translate article" %><% end template %>


<% template main_content() %> 
    <form method="POST" action="/articles/translate_treat" >
        <% form as_p translateForm %>
    </form>
<% end template %>

/**
 *
 */
<% template annexe_content() %>
   <% include markdown_help() %> 
<% end template %>




<% end view %>
<% end skin %>

