<% c++ #ifndef COMMONS_SKIN_LAYOUT_MASTER %>
<% c++ #define COMMONS_SKIN_LAYOUT_MASTER %>
<% c++ #include <cppcms_skel/generics/Config.h> %>
<% c++ #include "cppcms_skel/contents/content.h" %>
<% c++ #include "generics/Config.h" %>
<% c++ #include "results/Articles.h" %>
<% skin %>
<% view commons uses contents::BaseContent %>

<% template render() %><!DOCTYPE html>
<html lang="<%= lang %>">
    <head><%include head() %></head>
    <body><%include body() %></body>
</html>
<% end template %>

/**
 *
 */
<% template body() %><% end template %>

/**
 *
 */
<% template head() %><% end template %>

/**
 *
 */
<% template title() %>TODO: replace this<% end template %>

/**
 * @brief Used to generate a script tag for a javascript file
 *
 * @since 20 March 2013
 */
<% template js_link(std::string const& jsFile) %><script
    src="<% c++ out() << Config::get_js_path(); %><%= jsFile %>"
    type="text/javascript"
></script><% end template %>


<% template css_link(std::string const& cssFile) %><link 
    href="<% c++ out() << Config::get_css_path(); %><%= cssFile %>"
    rel="stylesheet"
    type="text/css"
/><% end template %>

<% template img_tag(std::string const& imgFile, int width, int height, std::string const& alt) %><img
    src="<% c++ out() << Config::get_img_path(); %><%= imgFile%>"
    width="<%= width %>"
    height="<%= height %>"
    alt="<%= alt %>"
/><%end template %>

/**
 * @brief Used to a link to an article using an Article object
 *
 * @since 4 July 2013
 */
<% template article_link(results::Article const& article) %>
<a href="<% include article_url(article.lang, article.slug) %>"><%= article.title %></a>
<% end template %>

/**
 *
 */
<% template article_url( std::string const& lang, std::string const& slug) %><% c++ out() << tatowiki::Config::articles_url_from_lang_and_slug(lang,slug); %><% end template %>

/**
 * @brief Return the raw url to view the diff between two versions of
 *        an article
 *        Note : this template is on one line to avoid unwanted space/new line
 *
 * @since 20 March 2013
 */
<% template diff_url( int articleId, int oldVersion, int newVersion) %>/history/show-diff-between/<%= articleId %>/<%= oldVersion %>/<%= newVersion %><% end template %>



/**
 * @brief Include all the css, overide this method if you want to include
 *        ONLY your css
 *
 * @since 18 January
 */
<% template main_css() %>
    <% include css_link("layouts/default.css") %>
    <% include group_css() %>
    <% include css() %>
<% end template %>

/**
 * @brief Used to include the css that will be share by a group
 *        of pages
 * 
 * @since 22 March 2013
 */
<% template group_css() %><% end template %>

/**
 *
 */
<% template css() %><% end template %>



<% template description() %>TODO<%end template%>

<% template author() %>TODO <% end template %>


/**
 *
 * @brief Display a form's widget as an HTML table's row
 *
 * @since 22 April 2013
 */
<% template widget_row(cppcms::widgets::base_widget & widget) %>
<% include widget_row_text(widget,"") %>
<% end template %>


<% template widget_row_text(cppcms::widgets::base_widget & widget, std::string const& preinputText ) %>
<tr>
    <td class="labels" >
        <label for="<%= widget.name() %>">
            <%= widget.message() %>
        </label>
    </td>
    <td>
        <%= preinputText | raw %>
        <% form input widget %>
    </td>
</tr>
<% end template %>

/**
 *
 */
<% template head_local_js() %><% end template %>

/**
 *
 */
<% template head_group_js() %><% end template %>

/** 
 * @brief used to abstract how modules are organized
 * 
 * @since 7 April 2013
 */
<% template begin_module() %><div><% end template %>
<% template end_module() %></div><% end template %>



/**
 *
 */
<% template markdown_help() %>
    <% include begin_module() %>
    <h2><% gt "Note" %></h2>
    
    <p>
        <%gt "This wiki uses the markdown syntax." %>
    </p>
    <% include end_module() %>
    <% include begin_module() %>
    <h2><% gt "How to format text" %></h2>
    <ul>
        <li>
            <% gt "#Big title" %>
        </li>
        <li>
            <% gt "##Smaller title" %>
        </li>

        <li>
            <% gt "[text](http://example.com)" %>
        </li>

        <li>
            <% gt "[text](other-article)" %>
        </li>

        <li>
            <% gt "**bold**" %>
        </li>

        <li>
            <% gt "*italic*" %>
        </li>

    </ul>
    <% include end_module() %>
<% end template %>


<% end view %>
<% end skin %>
<% c++ #endif %>
