<% c++ #include "contents/Media.h" %>
<% skin %>
<% view media_upload_image uses contents::media::UploadImage extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Media / UploadImage
<% end template %>



<% end view %>
<% end skin %>
