<% c++ #ifndef LAYOUT_ARTICLE_EDITION %>
<% c++ #define LAYOUT_ARTICLE_EDITION %>
<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view article_edition uses tatowiki::contents::BaseContent extends common_article_edition %>

<% template skin_group_css() %>
    <% include css_link("skins/tatoeba/css/articles/create.css") %>
<% end template %>

<% end view %>
<% end skin %>

<% c++ #endif %>
