<% c++ #ifndef LAYOUT_ARTICLE_EDITION %>
<% c++ #define LAYOUT_ARTICLE_EDITION %>
<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view article_edition uses contents::BaseContent extends common_article_edition %>

<% end view %>
<% end skin %>

<% c++ #endif %>
