<% c++ #ifndef LAYOUT_MASTER %>
<% c++ #define LAYOUT_MASTER %>
<% c++ #include <cppcms_skel/generics/Config.h> %>
<% c++ #include "cppcms_skel/contents/content.h" %>
<% c++ #include "generics/Config.h" %>
<% skin %>
<% view master uses contents::BaseContent extends commons %>

/**
 *
 */
<% template body() %>
    <% include top_menu() %>
    <div id="container1">
        <div id="header">
            <a href="/">
                <% include img_tag("logo.png", 72, 450, "Tatowiki's logo") %>
            </a>
        </div>
        <div id="container">
            <% include container() %>
        </div>
        <% include footer() %>
    </div>
    <div id="footer_container"></div>
    <% include footer_js() %>
<% end template %>

<% template top_menu() %>
<div id="top_menu_container">
    <div id="top_menu">
        <% include navigation_menu() %>
        <% include user_menu() %>
        <% include search() %>
    </div>
</div>
<% end template %>


<% template user_menu() %>
		<div id="user_menu">
            <ul>
            <% if not currentUserHelper.is_logged() %>
                <!-- TODO put here the fancy login box -->
                    <li class="menuSection" >
                        <a href="/users/register-new" >
                            <% gt "Register" %>
                        </a>
                    </li>

                    <li class="menuSection" >
                        <a href="/users/login" >
                            <% gt "Login" %>
                        </a>
            <% else %>
                    <li class="menuSection" >
                        <a href="/users/logout" >
                            <% gt "Logout" %>
                        </a>
                    </li>
                    <li class="menuSection" >
                        <a href="/users/change-password" >
                            <% gt "Change password" %>
                        </a>
                    </li>

            <% end %>
            </ul>
		</div>
<% end template %>


<% template img_tag(std::string const& imgFile, int width, int height, std::string const& alt) %><img
    src="<% c++ out() << Config::get_img_path(); %><%= imgFile%>"
    width="<%= width %>"
    height="<%= height %>"
    alt="<%= alt %>"
/><%end template %>



/**
 * @brief Used to include the javascript that does not need to be loaded
 *        since the beginning, so that page would render faster
 * 
 * @since 20 March 2013
 */
<% template footer_js() %><% end template %>


/**
 * @brief Will be used to display a message to the user, to aknowledge
 *        from the success or failure of an action he just made
 * 
 * @since 30 August 2011
 */
<% template messages() %>
    <% if not messages.empty() %>
        <% foreach message in messages %>
        <div class="module">
        <% item %>
            <div class="message" id="flashMessage">
                <%= message.text | raw %>
            </div>
        <% end %>
        </div>
        <% end foreach %>
    <% end %>
<% end template %>


/** 
 * @brief used to abstract how modules are organized
 * 
 * @since 7 April 2013
 */
<% template begin_module() %><div class="module"><% end template %>
<% template end_module() %></div><% end template %>




/**
 *
 */
<% template head() %>
<title><% include title() %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% include main_css() %>
<% end template %>


/**
 *
 */
<% template container() %>
    <div id="main_content">
        <% include messages() %>
        <% include main_content()%>
    </div>
    <div id="annexe_content">
        <% include annexe_content() %>
    </div>
<% end %>

<% template navigation_menu() %>
<ul id="navigation_menu">
    <li class="menuItem">
        <a href="/" class="menuSection show">
            <% gt "Home" %>
        </a>
    </li>
    <li class="menuItem">
        <a href="/history/recent-changes" class="menuSection">
            <% gt "Recent changes" %>
        </a>
    </li>
</ul>
<% end template %>

<% template footer() %>
<div id="footer">
    <ul>
        <li>
            Beta
        </li>
    </ul>
</div>
<% end template %>

<% end view %>
<% end skin %>
<% c++ #endif %>
