/*
 * Registration form
 */
#UsersRegisterForm {
    padding: 10px;
    padding-bottom: 20px;
    margin: 20px auto;
    width: 420px;
    border: 1px solid #B3C6A9;
    background: #DBEFCB;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#UsersRegisterForm input {
    font-family: verdana, sans-serif;
}

#UserRegisterForm .field {
    text-align: right;
}

#UsersRegisterForm .submit {
    text-align: center;
}

#userInformation {
    margin: 10px 0px;
}

#userInformation td {
    padding: 10px;
    vertical-align: top;
}

#quiz {
    border-top: 1px dotted #B3C6A9;
    border-bottom: 1px dotted #B3C6A9;
    padding: 20px;
    text-align: center;
}

#termsOfUse {
    border-bottom: 1px dotted #B3C6A9;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#registerButton {
    font-size: 1.5em;
}
