<% c++ #include "contents/History.h" %>
<% skin %>
<% view common_history_show_diff_between uses contents::history::ShowDiffBetween extends master %>
<% template title() %><% gt "Difference between version {1} and {2} " using oldVersion, newVersion  %><% end template %>

/**
 *
 */
<% template main_content() %> 
<% include begin_module() %>
    <div id="showDiff"></div>
    <h2 id="nameOld" ><% gt "Version at: {1,dt=s}" using diff.oldVersionTime %></h2>
    <pre id="old"><%= diff.oldContent %></pre>
    <h2 id="nameNew" ><% gt "version at: {1,dt=s}" using diff.newVersionTime %></h2>
    <pre id="new"><%= diff.newContent %></pre>
<% include end_module () %>
<% end template %>


<% template annexe_content() %>
<% include begin_module() %>
    <h2><% gt "Note" %></h2>
    <p>
        <% gt "The lines in green are the lines that have been added in the new version." %>
        <% gt "The lines in red are those that have been removed." %> 
    </p>
<% include end_module () %>
<% include begin_module() %>
    <h2><%gt "Actions" %></h2>
    
    <ul class="annexeMenu">
        <li>
            <a
                href="/history/all-versions-of/<%= slug | urlencode %>"
            >
                <%gt "History" %>
            </a>
        </li>
        <li>
            <a
                href="/history/revert-to-version/<%= slug | urlencode %>/<%= oldVersion %>"
            >
                <%gt "Revert to version made the <span class='time'>{1,dt=s}</span>" using diff.oldVersionTime %>
            </a>
        </li>
        <li>
            <a href="/articles/show/<%= slug | urlencode %>">
                <%gt "Go back to article's page" %>
            </a>
        </li>

    </ul>
<% include end_module () %>
<% end template %>

/**
 *
 */
<% template local_css() %>
    <%include css_link("commons/css/external/diffview.css") %>
<% end template %>

/**
 *
 */
<% template footer_js() %>
    <% include js_link("commons/js/external/difflib.js") %>
    <% include js_link("commons/js/external/diffview.js") %>
    <% include js_link("commons/js/diffpage.js") %>
<% end template %>


<% end view %>
<% end skin %>
