<% c++ #ifndef LAYOUT_MASTER %>
<% c++ #define LAYOUT_MASTER %>
<% c++ #include <cppcms_skel/generics/Config.h> %>
<% c++ #include "cppcms_skel/contents/content.h" %>
<% c++ #include "generics/Config.h" %>
<% skin %>
<% view master uses contents::BaseContent %>

/**
 *
 */
<% template render() %><!DOCTYPE html>
<html>
<head>
    <% include header() %>
</head>
<body>
    <% include top_menu() %>
    <div id="container1">
        <div id="header">
            <a href="/">
                <% include img_tag("logo.png", 72, 450, "Tatowiki's logo") %>
            </a>
        </div>
        <div id="container">
            <% include body() %>
        </div>
        <% include footer() %>
    </div>
    <div id="footer_container"></div>
</body>
</html>
<% end template %>

<% template top_menu() %>
<div id="top_menu_container">
    <div id="top_menu">
        <% include navigation_menu() %>
        <% include user_menu() %>
    </div>
</div>
<% end template %>


<% template user_menu() %>
		<div id="user_menu">
            <ul>
            <% if not currentUserHelper.is_logged() %>
                <!-- TODO put here the fancy login box -->
                    <li class="menuSection" >
                        <a href="/users/register-new" >
                            <% gt "Register" %>
                        </a>
                    </li>

                    <li class="menuSection" >
                        <a href="/users/login" >
                            <% gt "Login" %>
                        </a>
            <% else %>
                    <li class="menuSection" >
                        <a href="/users/logout" >
                            <% gt "Logout" %>
                        </a>
                    </li>
            <% end %>
            </ul>
		</div>
<% end template %>



/**
 *
 */
<% template title() %>TODO: replace this<% end template %>


<% template css_link(std::string const& cssFile) %><link 
    href="<% c++ out() << Config::get_css_path(); %><%= cssFile %>"
    rel="stylesheet"
    type="text/css"
/><% end template %>

<% template img_tag(std::string const& imgFile, int width, int height, std::string const& alt) %><img
    src="<% c++ out() << Config::get_img_path(); %><%= imgFile%>"
    width="<%= width %>"
    height="<%= height %>"
    alt="<%= alt %>"
/><%end template %>



/**
 * @brief Include all the css, overide this method if you want to include
 *        ONLY your css
 *
 * @since 18 January
 */
<% template main_css() %>
    <% include css_link("layouts/default.css") %>
    <% include css() %>
<% end template %>



/**
 *
 */
<% template css() %><% end template %>


/**
 * @brief Will be used to display a message to the user, to aknowledge
 *        from the success or failure of an action he just made
 * 
 * @since 30 August 2011
 */
<% template message() %>
    <% if not message.empty() %>
        <div class="module">
            <div class="message" id="flashMessage">
                <%= message | raw %>
            </div>
        </div>
    <% end %>
<% end template %>



/**
 *
 */
<% template header() %>
<title><% include title() %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% include main_css() %>
<% end template %>


/**
 *
 */
<% template body() %>
    <div id="main_content">
        <% include message() %>
        <% include main_content()%>
    </div>
    <div id="annexe_content">
        <% include annexe_content() %>
    </div>
<% end %>


<% template annexe_content() %>
    <div class="module">
        TODO: replace this by actual content
    </div>
<% end template %>


<% template main_content() %>
    <div class="module">
        TODO replace this by actual content
    </div>
<% end template %>




<% template navigation_menu() %>
<ul id="navigation_menu">
    <li class="menuItem">
        <a href="/" class="menuSection show">
            <% gt "Home" %>
        </a>
    </li>
    <li class="menuItem">
        <a href="/history/recent-changes" class="menuSection">
            <% gt "Recent changes" %>
        </a>
    </li>
</ul>
<% end template %>

<% template footer() %>
<div id="footer">
    <ul>
        <li>
            Beta
        </li>
    </ul>
</div>
<% end template %>

/**
 *
 */
<% template article_url( std::string const& lang, std::string const& slug) %><% c++ out() << tatowiki::Config::articles_url_from_lang_and_slug(lang,slug); %><% end template %>

/**
 *
 */
<% template markdown_help() %>
<div class="module" >
    <h2><% gt "Note" %></h2>
    
    <p>
        <%gt "This wiki uses the markdown syntax." %>
    </p>
</div>

<div class="module"> 
    <h2><% gt "How to format text" %></h2>
    <ul>
        <li>
            <% gt "#Big title" %>
        </li>
        <li>
            <% gt "##Smaller title" %>
        </li>

        <li>
            <% gt "[text](http://example.com)" %>
        </li>

        <li>
            <% gt "[text](/other-article)" %>
        </li>

        <li>
            <% gt "**bold**" %>
        </li>

        <li>
            <% gt "*italic*" %>
        </li>

    </ul>

</div>
<% end template %>

<% end view %>
<% end skin %>
<% c++ #endif %>
