<% c++ #include "contents/Articles.h" %>
<% skin %>
<% view articles_edit uses contents::articles::Edit extends article_edition %>
<% template title() %><% gt "Edit article" %><% end template %>


<% template local_css() %>
    <% include css_link("articles/create.css") %>
<% end template %>



<% template main_content() %> 
<% include begin_module() %>
    <h2><% gt "Edit article" %></h2>
    <form method="POST" action="/articles/edit_treat" >
    <% form input editForm.slug %>
    <% form input editForm.lastVersion %>
    <table>
        <% include title_area(editForm) %>
        <% include editor_area(editForm) %>
        <% include summary_text(editForm) %>
    </table>
    <% include save_buttons(editForm) %>
    </form>
<% include end_module() %>
<% include preview_module() %>
<% end template %>


<% end view %>
<% end skin %>

