<% c++ #include "contents/Articles.h" %>
<% c++ #include "generics/Config.h" %>
<% skin %>
<% view articles_show_all uses contents::articles::ShowAll extends common_articles_show_all %>

<% end view %>
<% end skin %>
